# Ignore everything by default
*

# Track specific scripts and configs
!.gitignore
!compare_machines.sh
!.config/
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/compare-machines.service
!.config/systemd/user/mini-profiler.service
!projects/
!projects/mini-profiler/
!projects/mini-profiler/mini_profiler.py
!projects/mini-profiler/start_profiler.sh
